* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapercave.com/wp/wp12548024.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
}

.wrapper {
    width: 420px;
    background: transparent;
    color: #fff1f1;
    border-radius: 12px;
    padding: 80px 90px;
    border: 1px solid;
}

.wrapper h1 {
    font-size: 34px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 130%;
    height: 80px;
    margin: 70px 70;
}

.input-box input {
    width: 80%;
    height: 60%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(235, 227, 227, 0.936);
    text-align: center;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 2px;
    top: 20%;
    transform: translate(-30%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 12.5px;
    margin: -25px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.register-link p a:hover {
    text-decoration: underline;
}
.logo {
    margin: 50px;
    text-align: center;
    color: transparent;
}

.logo img {
    width: 200px; 
    height: 120px;
}