@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 200vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapercave.com/wp/wp12548024.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin: 20px;
    color: black;
    text-align: center;
    padding: 20px; /* Optional: Add padding for better appearance */
}

#infoForm {
    width: 90%;
    max-width: 450px;
    background: transparent;
    padding: 50px 60px 70px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;
    margin: 0; /* Removed margin to align it at the top */
    color: #ece4e4;
    position: absolute;
    top: 20%; /* Align it vertically to the middle */
    left: 50%; /* Align it horizontally to the middle */
    transform: translate(-50%, -50%); /* Move it back to the left and up */
}


#infoForm p {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

#infoForm span {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: #4a4444;
}

#infoForm span {
    color: black;
}

#infoForm button {
    width: 100%;
    background: #0c0a0e;
    color: black;
    height: 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

#infoForm .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}