* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}



.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapercave.com/wp/wp12548024.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent#fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #ece4e4; 
    position: relative;
}

.form-box h1::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #0202023f;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #4a4444;
}

form p {
    text-decoration: none;
    color: #f5f1f1;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button {
    flex-basis: 48%;
    background: #0c0a0e;
    color: #fff;
    height: 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 20px; 
}


.logo {
    margin: 50px;
    text-align: left;
    color: transparent;
}

.logo img {
    
    width: 200px; 
    height: auto;
}