* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapercave.com/wp/wp12548024.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 3rem;
    margin: 2rem 0rem; 
    color: white;
}
.parag {
    max-width: 900px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff; 
    cursor: pointer;
    color: #fff; 
    line-height: 2;
}
.tiny {
    max-width: 900px;
    margin-top: 2rem;
    
    cursor: pointer;
    color: #fff; 
    line-height: 2;
    text-align: center;   
}


.step {
    max-width: 900px;
    margin-top: 2rem;
    cursor: pointer;
    color: #fff; 
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step iframe {
    width: 80%; 
     
    margin-top: 20px; 
}
