 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body  {
font-family: "Quicksand", sans-serif;
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapercave.com/wp/wp12548024.jpg');
color: #fff;
backdrop-filter: blur(3px);
}
section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem; /* Corrected the 'O' to '0' */
}
.faq {
    max-width: 900px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff; /* Added the color value for border-bottom */
    cursor: pointer;
    color: #fff; /* Added color property for cursor */
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Assuming you meant to select 'question h3' elements */
.question h3 {
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height  1.4 ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer {
    max-height: 300px; /* Added 'px' unit */
    animation :fade 1s ease-in-out ; 
}
.faq.active svg {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in; /* Added missing transition property */
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
h2 {
    width: 50px;
    height: 50px; /* Increased height for better visibility */
    background: rgb(115, 115, 198);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Increased font size for better visibility */
    border-radius: 50%;
    margin-right: 10px;
    transition: background 0.3s ease-in-out;
    font-weight: bold; /* Added font weight for emphasis */
}
